<!DOCTYPE html>
<html>
<head>
    <title>Holder Page</title>
</head>
<body>
<h1> FG Warband Manager </h1>
<p>
    current user: {{ users }}
</p>
<table>
    <tr>
        <td>New Warband: </td>
        <td>
            <button onclick="window.location.href='/new'">New</button>
        </td>
    </tr>
    <tr>
        <td>Edit Warband:</td>
        <td>
            <button onclick="window.location.href='/edit'">Load Existing</button>
        </td>
    </tr>
    <tr>
        <td>View others public bands:</td>
        <td>
            <button onclick="window.location.href='/view'">View</button>
        </td>
    </tr>
    <tr>
        <td>Logout:</td>
        <td>
            <button onclick="window.location.href='/logout'">Logout</button>
        </td>
    </tr>
</table>
</body>
</html>