<!DOCTYPE html>
<html>
<head>
    <title>FG Warband</title>
    <style type="text/css">
        #dist {
            margin-left: 40px;
        }
    </style>
    <script type="text/javascript">

        function doFormSubmit() {

            var user_name = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var flag = 0;

            flag = 0;
            {% for name, pass in users.items() %}
                if (user_name == "{{ name }}") {
                    if (password == "{{ pass }}") {
                        flag = 1;
                    } else {
                        flag = 2;
                    }
                }
            {% endfor %}

            if (flag == 2) {
                alert("password wrong!");
                window.location.href = "/";
            } else if (flag == 1) {
                method = "post"; // Set method to post by default if not specified.

                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", "/");

                var username = document.createElement("input");
                username.setAttribute("type", "hidden");
                username.setAttribute("name", "username");
                username.setAttribute("value", user_name);
                form.appendChild(username);

                document.body.appendChild(form);
                form.submit();

                alert("login successful!");

            } else {
                alert("user non-exist!");
                window.location.href = "/";
            }
        }
    </script>
</head>
<body>
<div id="dist">
    <h1> FG Warband Manager </h1>
    <p>
        <i>Please login if you have account.</i>
    </p>
    <P>
        <i>Please register if you are a new user.</i>
    </p>
    <table>
        <tr height="40px">
            <td>Username</td>
            <td>
                <input type="text" id="username" name="username">
            </td>
        </tr>
        <tr height="40px">
            <td>Password</td>
            <td>
                <input type="password" id="password" name="password">
            </td>
        </tr>
    </table>
    <br/>
    <input id="login" type="button" value="Login" onclick="doFormSubmit();"/>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/register'">Register</button>
</div>
</body>
</html>
