<!DOCTYPE html>
<html>
<head>
    <title>Others' Public Bands</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: left;
        }
    </style>

    <script type="text/javascript">

    </script>
</head>
<body>
<h1>Bands</h1>
<table>
    <tr>
        <td>Owner</td>
        <td>Bandname</td>
    </tr>
    {% for owner, band in bands.items() %}
        {% for bandname in band %}
            <tr>
                <td>{{ owner }}</td>
                <td><a href="/view/{{ owner }}/{{ bandname }}">{{ bandname }}</a></td>
            </tr>
        {% endfor %}
    {% endfor %}

</table>
<br/>
<button onclick="window.location.href='/edit'">Refresh</button>
&nbsp;&nbsp;
<button onclick="window.location.href='/index'">Back</button>

</body>
</html>

